/*TMP Delete*/


/*Nav Stuff*/
.nv-nav-btn {
  width: 80px;
}
.nv-nav-select {
  max-width: 40%;
  display: inline;
}
.navbar.nv-nav-center .navbar-inner {
    text-align: center;
}
.navbar.nv-nav-center .navbar-inner .nav {
    float: none;
    display:inline;
}
.nv-nav {
  margin-top: 8px;
}


/*Icons*/
.nv-edit-icon {
  font-size: 15px;
  border-radius: 50%;
}
.nv-icon {
  font-size: 1.25em;
  color: gray;
  cursor: pointer;
  padding-top: 5px;
}
.nv-icon.blue:hover {
  color: blue;
}
.nv-icon.red:hover {
  color: red;
}
.nv-icon.red:active, .nv-icon.blue:active {
  color: black;
}



/*animations*/
.nv-slider {
  transition: .70s ease-in all;
}

.nv-slider.ng-leave, .nv-slider.ng-hide-add {
  opacity: 1.0;
  max-height: 999px;
}

.nv-slider.ng-leave-active, .nv-slider.ng-hide-add-active {
  opacity: 0.0;
  max-height: 0px;
}

.nv-slider.ng-enter {
  opacity: 0.0;
  max-height: 0px;
}

.nv-slider.ng-enter-active {
  opacity: 1.0;
  max-height: 999px;
}



