<!DOCTYPE>
<html>
<head>
	<title>Simon</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script type="text/javascript" src="services.js"></script>
	<script type="text/javascript" src="index.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>
	<div ng-app="MyApp">
		<div ng-controller='MyController as ctrl'>
			<div id='simon' class='container'>			
				<div class='container'>
					<h1>Welcome to Simon</h1>
				</div>
				<div id='game' class='container col-sm-5'>
					<div class='top'>
						<div class='simon-square top left red'
							 ng-click='ctrl.game.processUsersClick("red")'
							 ng-class='{isClicked: ctrl.isClicked.red}'></div>
						<div class='simon-square top right yellow'
							 ng-click='ctrl.game.processUsersClick("yellow")'
							 ng-class='{isClicked: ctrl.isClicked.yellow}'></div>
					</div>
					<div class='bottom'>
						<div class='simon-square left green'
							 ng-click='ctrl.game.processUsersClick("green")'
							 ng-class='{isClicked: ctrl.isClicked.green}'></div>
						<div class='simon-square right blue'
							 ng-click='ctrl.game.processUsersClick("blue")'
							 ng-class='{isClicked: ctrl.isClicked.blue}'></div>
					</div>					
				</div>

				<div id='picked-color-list' class='container col-sm-4'>
					<div class='form-group'>
						<h4>Game Speed</h4>
						<span ng-repeat='mode in ctrl.mode.modes'>
							<label>
								<input type='radio'
								   name='mode-select'
								   ng-value='mode.speed'
								   ng-model='ctrl.mode.selected'>
								{{mode.mode + " "}}<br>
							</label>						   
						</span>
					</div>					
					<div id='current-list'>
						<h2 ng-if='ctrl.game.turn === "user"'>Your Turn</h2>
						<h2 ng-if='ctrl.game.turn === "simon"'>Simon's Turn</h2>
						<h2 ng-if='ctrl.game.turn === null'>Click to begin</h2>
						<div ng-repeat='item in ctrl.sequence.display track by $index'>
							<span ng-bind='item'></span>
						</div>
					</div>	
					<div class='container'>
						<button class='btn btn-primary'
								ng-click='ctrl.game.startGame()' 
								ng-hide='ctrl.game.gameHasStarted'>Begin!</button>
					</div>			
				</div>

			</div>
		</div>
	</div>
</body>
</html>