
<div class="row">
  <div class="col-xs-1 col-xs-offset-1">
    <jc-dialer-button contact="ctrl.contact"></jc-dialer-button>
  </div>

  <div class="col-xs-8">

    <div ng-if="ctrl.contact.name">
      <strong>Name: </strong>
      <span ng-bind="ctrl.contact.name" class="text-capitalize"></span>
    </div>

    <div ng-if="ctrl.contact.phone">
      <strong ng-if="!ctrl.contact.atsMetaData.isCellPhone">Phone: </strong>
      <strong ng-if="ctrl.contact.atsMetaData.isCellPhone">Mobile: </strong>
      <span ng-bind="ctrl.contact.phone"
            class="text-capitalize"
            ng-class="{'bad-val': ctrl.contact.atsMetaData.numberIsBad}"></span>
    </div>

    <div ng-if="ctrl.contact.email">
      <strong>Email: </strong>
      <span ng-bind="ctrl.contact.email"
            class="text-capitalize"
            ng-class="{'bad-val': ctrl.contact.atsMetaData.emailIsBad}"></span>
    </div>

    <div ng-if="ctrl.contact.address">
      <strong>Address: </strong>
      <span ng-bind="ctrl.contact.address" class="text-capitalize"></span>
    </div>
  </div>

  <div class="col-xs-1">
    <jc-contact-edit-button type="icon" contact="ctrl.contact"></jc-contact-edit-button>
  </div>
</div> <!-- row -->













