<div class='container'>
  <div>
    <h1>Home Contacts</h1>
  </div>
  <div class='row'>
    <div class="left-panel col-md-5">

      <accordion close-others="true">
        <div ng-repeat="contact in ctrl.state.selectedStudent.contacts">
          <accordion-group is-open="isOpen">
            <accordion-heading>
              <span ng-bind='contact.title'></span>
              <i class="pull-right glyphicon"
                 ng-class="{'glyphicon-chevron-down': isOpen, 'glyphicon-chevron-right': !isOpen}"></i>
            </accordion-heading>
            <jc-contact-field contact="contact"
                              save-ats-meta-data="ctrl.saveAtsMetaData(metaData, contactType)"></jc-contact-field>
          </accordion-group>
        </div> <!-- end ng-repeat for contacts -->
      </accordion>

      <button class="btn btn-primary"
              ng-click="ctrl.createOrEditContact()">+ Add contact</button>
      <br><br>
    </div><!--end left-panel-->


    <div id="tmp-sidediv" class="right-panel col-md-7 container">
      <ul class="nav nav-tabs">
        <li role="presentation" ng-class='{active: ctrl.isActive.log}'>
          <a href="#" ui-sref="view.logOutreach" ng-click='ctrl.activateTab("log")'>Log Outreach</a>
        </li>
        <li role="presentation" ng-class='{active: ctrl.isActive.history}'>
          <a href="#" ui-sref="view.outreachHistory" ng-click='ctrl.activateTab("history")'>View Outreach History</a>
        </li>
        <li role="presentation" ng-class='{active: ctrl.isActive.data}'>
          <a href="#" ui-sref="view.studentData" ng-click='ctrl.activateTab("data")'>View Data</a>
        </li>
      </ul>
      <section ui-view></section>
    </div><!--end right-panel-->
  </div><!--end row-->
<div><!--end container-->

























