<div ng-show="!ctrl.confirmDelete">
<div class="modal-header">
    <h3 class="modal-title" ng-bind="ctrl.header"></h3>
    <span ng-if="ctrl.stagedContact.isAts" class="red-text">NOTE: Some ATS fields can only be updated by your ATS secretary</span>
</div>

<div class="modal-body">
  <div class="row">
    <form name="ctrl.editContactForm"
            novalidate>
      <div class="col-sm-5 left-side">
        <label class='form-group'>First Name:
          <input type="text"
                 class="form-control"
                 ng-disabled="ctrl.stagedContact.isAts"
                 ng-model="ctrl.stagedContact.first">
        </label>
        <br>
        <label class='form-group'>Last Name:
          <input type="text"
                 class="form-control"
                 ng-disabled="ctrl.stagedContact.isAts"
                 ng-model="ctrl.stagedContact.last">
        </label>
        <br>
        <label class='form-group'>Ralationship to student:
          <input type="text"
                 class="form-control"
                 ng-model="ctrl.stagedContact.relationship">
        </label>
      </div> <!-- end left-side -->

      <div class="col-sm-4 right-side">
        <label class='form-group'>Email:
          <input type="text"
                 class="form-control"
                 ng-model="ctrl.stagedContact.email">
        </label>
        <br>
        <label class='form-group'>Phone:
          <input type="text"
                 class="form-control"
                 ng-disabled="ctrl.stagedContact.isAts"
                 ng-model="ctrl.stagedContact.phone">
        </label class='form-group'>
        <br>
      </div><!-- end right-side -->
    </form>
  </div><!-- end row -->

  <div class="row">
    <div class="col-sm-9 left-side">
      <div class="checkbox" ng-if="ctrl.stagedContact.phone">
        <label>
          <input type="checkbox"
                 ng-click="ctrl.setDirty()"
                 ng-model="ctrl.stagedContact.atsMetaData.isCellPhone"> Number is a cellphone
        </label>
      </div>
      <div class="flags"
           ng-if="!ctrl.stagedContact.isNew">
        <div class="checkbox" ng-if="ctrl.stagedContact.phone">
          <label>
            <input type="checkbox"
                   ng-click="ctrl.setDirty()"
                   ng-model="ctrl.stagedContact.atsMetaData.numberIsBad" > Number Is Bad
          </label>
        </div>
        <div class="checkbox" ng-if="ctrl.stagedContact.email">
          <label>
            <input type="checkbox"
                   ng-click="ctrl.setDirty()"
                   ng-model="ctrl.stagedContact.atsMetaData.emailIsBad" > Email Is Bad
          </label>
        </div>
        <div class="checkbox" ng-if="ctrl.stagedContact.address">
          <label>
            <input type="checkbox"
                   ng-click="ctrl.setDirty()"
                   ng-model="ctrl.stagedContact.atsMetaData.addressIsBad"> Address Is Bad
          </label>
        </div>
      </div><!-- end flags -->
      <label>New note related to this contact:
        <textarea class="form-control"
                  cols="100"
                  ng-change="ctrl.setDirty()"
                  placeholder="Optional: Enter notes specific to this contact"
                  ng-model="ctrl.stagedContact.contactNotes"></textarea>
      </label>
      <br>
    </div>
  </div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary"
            type="button"
            ng-click="ctrl.save(ctrl.stagedContact)"
            ng-disabled="ctrl.editContactForm.$pristine">Save</button>
    <button class="btn btn-danger"
            type="button"
            ng-if="!ctrl.stagedContact.isAts && !ctrl.stagedContact.isNew"
            ng-click="ctrl.confirmDelete = !ctrl.confirmDelete">Delete</button>
    <button class="btn btn-default"
            type="button"
            ng-click="ctrl.cancel()">Cancel</button>
</div>
</div>



<div class="confirm-delete-box" ng-show="ctrl.confirmDelete">
  <div class="modal-header">
      <h3 class="modal-title text-danger"><span class="glyphicon glyphicon-alert"></span> Delete Contact</h3>
  </div>

  <div class="modal-body">
    <h4>Are you sure you want to delete this contact?</h4>
  </div>

  <div class="modal-footer">
    <button class="btn btn-danger"
            type="button"
            ng-if="!ctrl.stagedContact.isAts && !ctrl.stagedContact.isNew"
            ng-click="ctrl.deleteContact(ctrl.stagedContact)">Delete</button>
    <button class="btn btn-default"
            type="button"
            ng-click="ctrl.confirmDelete = !ctrl.confirmDelete">Cancel</button>
  </div>
</div>






