<div class='container'>
  <div class='row'>
    <div class="left-panel col-md-5">
      <div>
        <h1 ng-bind="ctrl.header"></h1>
      </div>
      <accordion close-others="true">
        <div ng-repeat="contact in ctrl.state.selectedStudent.contacts">
          <accordion-group is-open="isOpen">
            <accordion-heading>
              <span ng-bind='contact.title'></span>
              <i class="pull-right glyphicon"
                 ng-class="{'glyphicon-chevron-down': isOpen, 'glyphicon-chevron-right': !isOpen}"></i>
            </accordion-heading>
            <jc-contact contact="contact"></jc-contact>
          </accordion-group>
        </div> <!-- end ng-repeat for contacts -->
      </accordion>

      <jc-contact-edit-button type="btn"></jc-contact-edit-button>
      <br><br>
    </div><!--end left-panel-->


    <div id="tmp-sidediv" class="right-panel col-md-7 container">
      <div>
        <h1></h1>
      </div>
      <ul class="nav nav-tabs">
        <li role="presentation" ng-class='{active: ctrl.isActive.log}'>
          <a href="#"
             ui-sref="home.logOutreach"
             ng-click='ctrl.activateTab("log")'
             ng-bind="ctrl.tabLabels.logOutreach"></a>
        </li>
        <li role="presentation" ng-class='{active: ctrl.isActive.history}'>
          <a href="#"
             ui-sref="home.outreachHistory"
             ng-click='ctrl.activateTab("history")'
             ng-bind="ctrl.tabLabels.outreachLogs"></a>
        </li>
        <li role="presentation" ng-class='{active: ctrl.isActive.data}'>
          <a href="#"
             ui-sref="home.studentData"
             ng-click='ctrl.activateTab("data")'
             ng-bind="ctrl.tabLabels.studentData"></a>
        </li>
      </ul>
      <section ui-view></section>
    </div><!--end right-panel-->
  </div><!--end row-->
<div><!--end container-->








