<div class='container'>


  <div id="buttons" class="row">
    <button ng-click = 'ctrl.previous(); $event.stopPropagation();'
      class='btn btn-primary nv-nav-btn'>Previous</button>
    <select ng-options = 'ctrl.list.indexOf(stdnt) as stdnt.studentDetails.first for stdnt in ctrl.list'
      ng-model = 'ctrl.index'
      ng-change = 'ctrl.setSelected(ctrl.index)'
      class = 'form-control nv-nav-select'>
    </select>
    <button ng-click = 'ctrl.next(); $event.stopPropagation();'
      class='btn btn-primary nv-nav-btn'>Next</button>
  </div> <!-- end butttons -->

  <div>
    <h1>Home Contacts</h1>
  </div>

  <div class='row'>
    <div class="left-panel col-md-5">

      <accordion close-others="true">
        <accordion-group is-open="ctrl.isOpen.home">

          <accordion-heading>
            ATS: Home
            <i class="pull-right glyphicon"
               ng-class="{'glyphicon-chevron-down': ctrl.isOpen.home, 'glyphicon-chevron-right': !ctrl.isOpen.home}"></i>
          </accordion-heading>

          <div class="row">

            <div class="col-xs-1">
              <i class="glyphicon glyphicon-earphone nv-icon blue"></i>
            </div>

            <div class="col-xs-9">
              <strong>Number: </strong><span ng-bind="ctrl.selected.phone"></span><br>
              <strong>Address: </strong><span ng-bind="ctrl.selected.address"></span><br>
              <strong>Email: </strong><span ng-bind="ctrl.selected.email"></span>
            </div>

            <div class="col-xs-2">
              <i class="glyphicon glyphicon-pencil nv-icon red"
                ng-click="ctrl.toggleEdit('home')"></i>
            </div>
          </div> <!-- row -->

          <div class="row">
            <div class="edit-fields col-xs-10 col-xs-offset-1"
              ng-if="ctrl.home.editActive">
              <form name="ctrl.homeForm" ng-submit="ctrl.onSubmit()" novalidate>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" > This number is a cellphone
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" > Number Is Bad
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" > Address Is Bad
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" > Email Is Bad
                  </label>
                </div>
              </form>
            </div> <!-- edit-fields -->
          </div> <!-- row -->

        </accordion-group>

        <accordion-group is-open = "ctrl.isOpen.adult1">
            <accordion-heading>
              ATS: Adult1
              <i class="pull-right glyphicon"
                 ng-class="{'glyphicon-chevron-down': ctrl.isOpen.adult1, 'glyphicon-chevron-right': !ctrl.isOpen.adult1}"></i>
            </accordion-heading>

          <div class="row">

            <div class="col-xs-1">
              <i class="glyphicon glyphicon-earphone nv-icon blue"></i>
            </div>
            <div class="col-xs-9">
              <div ng-repeat="(field, val) in ctrl.selected.ats.adult1">
                <strong class="text-capitalize">{{field}}: </strong>  {{val}}
              </div>
            </div>
            <div class="col-xs-2">
              <i class="glyphicon glyphicon-pencil nv-icon red"></i>
            </div>
          </div> <!-- end row -->

        </accordion-group> <!-- end accordion-group 1 -->

        <accordion-group is-open = "ctrl.isOpen.adult2">
            <accordion-heading>
              ATS: Adult2
              <i class="pull-right glyphicon"
                 ng-class="{'glyphicon-chevron-down': ctrl.isOpen.adult2, 'glyphicon-chevron-right': !ctrl.isOpen.adult2}"></i>
            </accordion-heading>

          <div class="row">

            <div class="col-xs-1">
              <i class="glyphicon glyphicon-earphone nv-icon blue"></i>
            </div>
            <div class="col-xs-9">
              <div ng-repeat="(field, val) in ctrl.selected.ats.adult2">
                <strong class="text-capitalize">{{field}}: </strong>  {{val}}
              </div>
            </div>
            <div class="col-xs-2">
              <i class="glyphicon glyphicon-pencil nv-icon red"></i>
            </div>
          </div> <!-- end row -->

        </accordion-group> <!-- end accordion-group 2 -->
      </accordion>
    </div><!--end left-panel-->

    <div id="tmp-sidediv" class="right-panel col-md-7">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active">
          <a href="#" ui-sref="logOutreach">Log Outreach</a>
        </li>
        <li role="presentation">
          <a href="#" ui-sref="outreachHistory">View Outreach History</a>
        </li>
        <li role="presentation">
          <a href="#" ui-sref="studentData">View Data</a>
        </li>
      </ul>
    </div><!--end right-panel-->

    <section ui-view="childViews"></section>

  </div><!--end row-->
<div><!--end container-->
  <pre>
    home.editActive: {{ctrl.home.editActive}}
  </pre>
  <pre>
    {{ctrl.selected | json}}
  </pre>

